.title-container {
    width: 100%;

    p {
        font-size: 24px;
    }

    h1 {
        color: #000;
        font-size: 85px;
    }
}

.center-weather-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    h1 {
        color: #000;
        font-weight: 500;
        font-size: 140px;
        margin-bottom: 0;
    }
    p {
        font-size: 48px;
    }
    ul {
        display: flex;
        li {
            margin: 0 35px;
            font-weight: 200;
            font-size: 22px;
        }
    }
}

.bottom-weather-info {
    width: 100%;
    ul {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        li {
            h5 {
                font-weight: 400;
                font-size: 36px;
            }

            span {
                font-weight: 300;
                font-size: 22px;
            }
        }
    }
}