$bg-color: #EEEEEE;
$secondary-bg-color: #F6F6F6;
$tertiary-bg-color: #303841;
$main-font: 'Inter', sans-serif;

//Screen sizes
$phone: 640px;
$tablet: 768px ;
$desktop: 1024px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin phone {
    @media (min-width: #{$phone}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}

//Animations
@keyframes dot-loading-animation {
    25% {
      content: "";
    }
    50% {
      content: ".";
    }
    75% {
      content: "..";
    }
    100% {
      content: "...";
    }
}

@keyframes text-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

ul {
    list-style-type: none;
}
  
.loading {
    font-size: 30px;
    &:after {
        content: "...";
        overflow: hidden;
        display: inline-block;
        animation: dot-loading-animation 1s infinite .3s;
        animation-fill-mode: fowards;
        width: 1.25em;
      }
  }
  
  
  
