@import './global.scss';

* {
    margin: 0;
    padding: 0;
}

html, body, #root {
    width: 100%;
    height: 100%;
}

body {
    width: 100vw;
    height: 100%;
    font-family: $main-font;
}

.app {
    background-color: $bg-color;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    .container {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        background-color: $secondary-bg-color;
        display: flex;
        flex-direction: column;
        width: 1440px;
        height: 95%;
        
        @include desktop {
            flex-direction: row;
        }
        
        .container-left {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            flex: 8;
            padding: 30px;
            
        }
        .container-right {
            flex: 4;
            background-color: $tertiary-bg-color;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding: 15px;
               
        }
    }
}
    
